/* Fondo degradado verde suave */
.root {
    -fx-background-color: linear-gradient(to bottom, #dbe6d2, #7ca982);
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-padding: 40px;
}

/* Título */
.titulo-principal {
    -fx-text-fill: #2e4737;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* Subtítulo */
.label {
    -fx-text-fill: #2f2f2f;
    -fx-font-size: 15px;
}

/* Input */
.text-field {
    -fx-pref-width: 260px;
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-background-color: white;
    -fx-border-color: #a0c1a0;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

/* Botones base */
.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
}

/* Botón enviar */
#buttonEnviar {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

#buttonEnviar:hover {
    -fx-background-color: #45a049;
}

/* Botón volver */
#buttonVolver {
    -fx-background-color: #c3d7c5;
    -fx-text-fill: #2f2f2f;
}

#buttonVolver:hover {
    -fx-background-color: #a8c3aa;
}

.text-error {
    -fx-text-fill: red;
}

.text-success {
    -fx-text-fill: rgb(30, 88, 30);
    -fx-font-weight: bold;
}
